body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#weather-container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(34, 192, 197);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#weather-container button{
    padding: 10px 10px;
    background: rgb(34, 192, 197);
    color: white;
    border: none;
    cursor: pointer;
}

#search-box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}